<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Django Project</title>
    <link rel="stylesheet" href="{% static "/css/mystyle.css" %}"/>
  </head>
  <body>
    <h1>This is Database</h1>
    <h2>This is Database Records</h2>
  <div class="django2">

   {% if access_record %}
    <table>
      <thead>
        <th>Site Name</th>
        <th>Date Accessed</th>
      </thead>
      {%for acc in access_record%}
      <tr>
        <td>{{acc.name}}</td>
        <td>{{acc.date}}</td>
      </tr>
      {%endfor%}
    </table>
  </div>
    {%else%}
    <p>nothing to display</p>
    {%endif%}

  </body>
</html>
